@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus{
    outline:none;

}
*{
    -webkit-user-select: none;
    user-select: none;
}
:root{
    --color-primary: rgb(255, 179, 0);
    --color-secondary: rgb(204, 143, 0);
    --color-background: rgb(239, 239, 245);
    --color-color1: rgb(49, 51, 53);
    --color-color2: rgb(37, 38, 39);
    --color-color3: rgb(43, 43, 43);
    --color-color4: rgb(57, 59, 60);
    --color-color5: rgb(117, 117, 117);
    --color-color6: rgb(229, 231, 235);
    --color-color7: rgb(239, 239, 245);
    --color-color8: hsl(0, 0%, 100%);
}

.dark{
    // 

    
    // rgb(72, 30, 20)
    // rgb(155, 57, 34)
    // 
// 
// 
// 

    --color-primary:rgb(83, 92, 145) ;
    --color-secondary: rgb(29, 38, 125);
    --color-background: rgb(7, 15, 43);
    --color-color1: rgb(161, 159, 201);//rgb(83, 92, 145);
    --color-color2: rgb(146, 144, 195);//hsl(210, 3%, 15%);
    --color-color3: hsl(0, 0%, 17%);
    --color-color4: hsl(210, 2%, 23%);
    --color-color5: rgb(218, 184, 253);
    --color-color6: hsl(223, 15%, 91%);
    --color-color7: rgb(12, 19, 79);
    --color-color8: rgb(27, 26, 85);
}